.footer-wrapper {
	bottom: 0;
	left: 0;
	width: 100%;
	position: sticky;
	background-color: rgba(47, 48, 56, 0.6);
	text-align: center;
	color: white;
	margin-top: 5vh;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
